
<footer>
        <div class="container-footer">
            <div class="row-footer">
                <!-- footer col-->
                <div class="footer-col footer-imgtxt">
                    <a><img class="img-footer" src="https://i.postimg.cc/3rb7gyhc/Logo-Vertical-1.png"></a>
                </div>
                <!--end footer col-->
                <div class="footer-col">
                    <h4>FALE CONOSCO</h4>
                    <ul class="footer-col-ul">
                        <li>
                          <a href="tel:+553235316400">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 20 20" fill="none">
                              <circle cx="9.68807" cy="9.68807" r="9.68807" fill="#001842"/>
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1953 14.6776C11.5178 14.6527 9.59756 14.3873 7.58656 12.3772C5.57603 10.3666 5.31112 8.44729 5.28571 7.76941C5.24807 6.73636 6.03949 5.73295 6.95371 5.34108C7.0638 5.29356 7.18436 5.27546 7.30355 5.28857C7.42275 5.30169 7.53649 5.34556 7.63361 5.41588C8.38644 5.96439 8.9059 6.79422 9.35195 7.4467C9.45009 7.59005 9.49205 7.76449 9.46984 7.93679C9.44763 8.10908 9.36279 8.26718 9.2315 8.38096L8.31351 9.06261C8.26916 9.09463 8.23794 9.14165 8.22565 9.19495C8.21337 9.24824 8.22084 9.30419 8.2467 9.35239C8.45467 9.73014 8.8245 10.2928 9.24796 10.7161C9.6719 11.1395 10.261 11.5337 10.6652 11.7652C10.7158 11.7936 10.7755 11.8016 10.8319 11.7874C10.8882 11.7732 10.937 11.738 10.9682 11.689L11.5657 10.7797C11.6756 10.6337 11.8377 10.536 12.018 10.5069C12.1983 10.4778 12.3829 10.5196 12.5331 10.6235C13.1952 11.0817 13.9678 11.5921 14.5333 12.3161C14.6094 12.4139 14.6577 12.5303 14.6734 12.6532C14.689 12.7761 14.6714 12.9009 14.6222 13.0146C14.2284 13.9334 13.2319 14.7157 12.1953 14.6776Z" fill="white"/>
                            </svg>
                            (32) 3531-6400
                          </a>
                        </li>
                        <li>
                          <a href="mailto:comercial@amorimequipamentos.com">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 20 20" fill="none">
                              <circle cx="9.68807" cy="10.0001" r="9.68807" fill="#001842"/>
                              <path d="M13.7395 6.77075H6.22387C5.70718 6.77075 5.28912 7.16708 5.28912 7.65149L5.28442 12.9359C5.28442 13.4203 5.70718 13.8166 6.22387 13.8166H13.7395C14.2562 13.8166 14.6789 13.4203 14.6789 12.9359V7.65149C14.6789 7.16708 14.2562 6.77075 13.7395 6.77075ZM13.7395 8.53222L9.98167 10.7341L6.22387 8.53222V7.65149L9.98167 9.85332L13.7395 7.65149V8.53222Z" fill="white"/>
                            </svg>
                            comercial@amorimequipamentos.com
                          </a>
                        </li>
                        <li>
                          <a href="https://maps.app.goo.gl/mqsw6q195JNhM1Cp7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 20 20" fill="none">
                              <circle cx="9.68807" cy="10.3119" r="9.68807" fill="#001842"/>
                              <path d="M9.68813 14.535C9.68813 14.535 12.9175 12.0011 12.9175 9.25615C12.9175 7.50697 11.4716 6.08887 9.68813 6.08887C7.90465 6.08887 6.45874 7.50697 6.45874 9.25615C6.45874 12.0011 9.68813 14.535 9.68813 14.535Z" fill="white" stroke="white" stroke-width="1.98732" stroke-linejoin="round"/>
                              <path d="M9.68787 10.5603C9.85099 10.5603 10.0125 10.5282 10.1632 10.4658C10.3139 10.4034 10.4508 10.3119 10.5662 10.1965C10.6815 10.0812 10.773 9.94426 10.8354 9.79357C10.8978 9.64287 10.9299 9.48136 10.9299 9.31825C10.9299 9.15513 10.8978 8.99362 10.8354 8.84292C10.773 8.69223 10.6815 8.5553 10.5662 8.43997C10.4508 8.32463 10.3139 8.23314 10.1632 8.17072C10.0125 8.1083 9.85099 8.07617 9.68787 8.07617C9.35846 8.07617 9.04253 8.20703 8.8096 8.43997C8.57666 8.6729 8.4458 8.98883 8.4458 9.31825C8.4458 9.64766 8.57666 9.96359 8.8096 10.1965C9.04253 10.4295 9.35846 10.5603 9.68787 10.5603Z" fill="#001842" stroke="#001842" stroke-width="1.98732" stroke-linejoin="round"/>
                            </svg>
                            Rua Jesus Salustiano, 37 - Ubá,<br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Minas Gerais - MG
                          </a>
                        </li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col col-wmax">
                    <h4>INSTITUCIONAL</h4>
                  <ul>
                        <li><a href="https://www.amorimequipamentos.com/noindex/additional_info/MLB716835974?new_version=true&modal=false&newIndex=true" target="_blank"> Politica de entrega </a></li>
                        <li><a href="https://www.amorimequipamentos.com/noindex/crm/buyer_protection?noIndex=true&itemId=MLB716835974&contextual=true" target="_blank"> Compra garantida </a></li>
                        <li><a href="https://www.amorimequipamentos.com/freeReturn/fashion?itemId=MLB716835974&quantity=1&new_version=true&modal=false&controlled=true&_ga=2.170314080.1940008359.1697637666-991773602.1696614369&_gl=1*153l2ul*_mshops_ga*OTkxNzczNjAyLjE2OTY2MTQzNjk.*_mshops_ga_G6T7JSEC6K*MTY5NzYzNzY2OC4yLjAuMTY5NzYzNzY4NS40My4wLjA.&_ga=2.7144114.1488507826.1707402554-1052667152.1691525629&_ga=2.127528909.1563050608.1708967417-2132104795.1707402484" target="_blank"> Trocas e Devoluções </a></li>
                        <li><a href="https://www.amorimequipamentos.com/noindex/crm/buyer_protection?noIndex=true&itemId=MLB716835974&contextual=true" target="_blank"> Políticas do Site </a></li>
                        <li><a href="https://www.amorimequipamentos.com/noindex/crm/buyer_protection?noIndex=true&itemId=MLB716835974&contextual=true" target="_blank"> Políticas de Privacidade </a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col gap col-wmax">
                  <h4>MEIOS DE PAGAMENTO</h4>
                    <a><img src="https://i.postimg.cc/TwKj3WJW/Pagamento.png" style="width: 12rem;"></a>
                    <a href="#show-modal" class="p-coluna4"><p>Saiba mais...</p></a>
                </div>
                <!--end footer col-->
                <div class="footer-col gap col-wmax">
                  <h4>REDES SOCIAIS</h4>
                    <div class="social-apps">
                        <a href="https://api.whatsapp.com/send?phone=553235316400&text=Ol%C3%A1,%20estou%20na%20loja%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es.">
                          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
                            <circle cx="16.5" cy="16.5" r="16.5" fill="#001842"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17 7C12.0293 7 8 11.0293 8 16C8 17.701 8.4725 19.294 9.2942 20.6512L8.4914 23.38C8.44531 23.5367 8.44227 23.7029 8.48262 23.8611C8.52297 24.0194 8.6052 24.1638 8.72068 24.2793C8.83616 24.3948 8.98062 24.477 9.13887 24.5174C9.29713 24.5577 9.46333 24.5547 9.62 24.5086L12.3488 23.7058C13.7516 24.5546 15.3604 25.0022 17 25C21.9707 25 26 20.9707 26 16C26 11.0293 21.9707 7 17 7ZM14.9642 18.0367C16.7849 19.8565 18.5228 20.0968 19.1366 20.1193C20.0699 20.1535 20.9789 19.4407 21.3326 18.6136C21.3773 18.5107 21.3935 18.3977 21.3795 18.2864C21.3656 18.1751 21.322 18.0696 21.2534 17.9809C20.7602 17.3509 20.0933 16.8982 19.4417 16.4482C19.3057 16.3541 19.1385 16.3164 18.9752 16.3429C18.8119 16.3694 18.6653 16.4581 18.566 16.5904L18.026 17.4139C17.9976 17.4582 17.9534 17.4899 17.9023 17.5026C17.8513 17.5153 17.7973 17.5081 17.7515 17.4823C17.3852 17.2726 16.8515 16.9162 16.4681 16.5328C16.0847 16.1494 15.7499 15.64 15.5618 15.2971C15.5385 15.2535 15.5317 15.203 15.5428 15.1548C15.5539 15.1067 15.5821 15.0642 15.6221 15.0352L16.4537 14.4178C16.5724 14.3146 16.649 14.1714 16.6689 14.0154C16.6888 13.8594 16.6506 13.7015 16.5617 13.5718C16.1585 12.9814 15.6887 12.2308 15.0074 11.7331C14.9195 11.6694 14.8165 11.6297 14.7085 11.6178C14.6006 11.606 14.4914 11.6224 14.3918 11.6656C13.5638 12.0202 12.8474 12.9292 12.8816 13.8643C12.9041 14.4781 13.1444 16.216 14.9642 18.0367Z" fill="white"/>
                          </svg>
                        </a>
                        <a href="https://www.instagram.com/amorim.equipamentos">
                          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
                            <circle cx="16.5" cy="16.5" r="16.5" fill="#001842"/>
                            <path d="M17.3738 8C18.33 8.00255 18.8153 8.00765 19.2344 8.01955L19.3993 8.0255C19.5896 8.0323 19.7775 8.0408 20.0044 8.051C20.9088 8.0935 21.5258 8.23629 22.0673 8.44624C22.6282 8.66213 23.1008 8.95453 23.5734 9.42627C24.0056 9.85117 24.34 10.3651 24.5534 10.9324C24.7633 11.4739 24.9061 12.091 24.9486 12.9962C24.9588 13.2223 24.9673 13.4101 24.9741 13.6014L24.9792 13.7663C24.992 14.1845 24.9971 14.6698 24.9988 15.626L24.9996 16.2601V17.3736C25.0017 17.9936 24.9952 18.6135 24.9801 19.2333L24.975 19.3982C24.9682 19.5895 24.9597 19.7773 24.9495 20.0034C24.907 20.9086 24.7625 21.5249 24.5534 22.0672C24.3406 22.6348 24.0061 23.1489 23.5734 23.5733C23.1484 24.0054 22.6345 24.3398 22.0673 24.5534C21.5258 24.7633 20.9088 24.9061 20.0044 24.9486C19.8027 24.9581 19.601 24.9666 19.3993 24.9741L19.2344 24.9792C18.8153 24.9911 18.33 24.9971 17.3738 24.9988L16.7397 24.9996H15.6271C15.0069 25.0017 14.3867 24.9952 13.7666 24.9801L13.6017 24.975C13.3999 24.9673 13.1982 24.9585 12.9965 24.9486C12.0922 24.9061 11.4751 24.7633 10.9328 24.5534C10.3656 24.3403 9.85188 24.0058 9.42757 23.5733C8.99498 23.1486 8.66025 22.6346 8.44672 22.0672C8.23678 21.5257 8.09399 20.9086 8.05149 20.0034C8.04202 19.8017 8.03352 19.6 8.02599 19.3982L8.02174 19.2333C8.00608 18.6135 7.99899 17.9936 8.00049 17.3736V15.626C7.99812 15.006 8.00435 14.3861 8.01919 13.7663L8.02514 13.6014C8.03194 13.4101 8.04044 13.2223 8.05064 12.9962C8.09314 12.091 8.23593 11.4747 8.44587 10.9324C8.6593 10.3646 8.9947 9.85043 9.42842 9.42627C9.85262 8.99403 10.366 8.65957 10.9328 8.44624C11.4751 8.23629 12.0913 8.0935 12.9965 8.051C13.2226 8.0408 13.4113 8.0323 13.6017 8.0255L13.7666 8.0204C14.3864 8.0053 15.0063 7.99878 15.6263 8.00085L17.3738 8ZM16.5001 12.2499C15.3729 12.2499 14.292 12.6977 13.495 13.4947C12.698 14.2917 12.2503 15.3727 12.2503 16.4998C12.2503 17.6269 12.698 18.7079 13.495 19.5049C14.292 20.3019 15.3729 20.7497 16.5001 20.7497C17.6272 20.7497 18.7081 20.3019 19.5051 19.5049C20.3021 18.7079 20.7498 17.6269 20.7498 16.4998C20.7498 15.3727 20.3021 14.2917 19.5051 13.4947C18.7081 12.6977 17.6272 12.2499 16.5001 12.2499ZM16.5001 13.9499C16.8349 13.9498 17.1665 14.0157 17.4759 14.1438C17.7853 14.2719 18.0664 14.4597 18.3032 14.6964C18.54 14.9332 18.7279 15.2142 18.8561 15.5236C18.9843 15.8329 19.0503 16.1645 19.0503 16.4994C19.0504 16.8342 18.9845 17.1658 18.8564 17.4752C18.7283 17.7846 18.5405 18.0658 18.3038 18.3026C18.0671 18.5394 17.786 18.7273 17.4767 18.8555C17.1673 18.9837 16.8358 19.0497 16.5009 19.0497C15.8246 19.0497 15.1761 18.7811 14.6979 18.3029C14.2197 17.8247 13.951 17.1761 13.951 16.4998C13.951 15.8235 14.2197 15.1749 14.6979 14.6967C15.1761 14.2185 15.8246 13.9499 16.5009 13.9499M20.9632 10.9749C20.6814 10.9749 20.4112 11.0869 20.2119 11.2861C20.0127 11.4854 19.9007 11.7556 19.9007 12.0374C19.9007 12.3192 20.0127 12.5894 20.2119 12.7887C20.4112 12.9879 20.6814 13.0999 20.9632 13.0999C21.245 13.0999 21.5152 12.9879 21.7144 12.7887C21.9137 12.5894 22.0256 12.3192 22.0256 12.0374C22.0256 11.7556 21.9137 11.4854 21.7144 11.2861C21.5152 11.0869 21.245 10.9749 20.9632 10.9749Z" fill="white"/>
                          </svg>
                        </a>
                    </div>
                    <span class="footer-col-span">
                            Atendimento disponível das<br>
                            8 às 18 hrs de segunda a sexta.
                    </span>
                </div>
            </div>
        </div>
        
        
        <div class="footer-bottom border-top">
          <div class="ecom">
            <span>Desenvolvedor com ❤️ por:</span>
            <a href="https://ecomsolutionsbr.com/"><img src="https://i.postimg.cc/W3w48556/1-2-1-1-2.png"></a>
          </div>
        </div>
    </footer>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PS5PGG7T" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#bttnInput').click(function() {
        $('#divSearch').toggle();
    });
  });
</script>


